* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trirong", serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/Capa-praias-SC.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 1330px;
}

img:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

.box-main {
  margin-top: 25px;
  margin: 2%;
  max-width: px;
  min-width: 300px;
  background: rgba(153, 34, 34, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  background: #f9c10a;
  font-size: 25px;
  margin-bottom: 15px;
  margin-left: 2px;
  width: 65%;
  padding: 1% 2%;
  border-radius: 6px;
}



form {
  font-size: 18px;
  font-weight: bold;
  background-image: radial-gradient(
    rgb(164, 164, 164),
    rgb(122, 122, 122),
    rgb(100, 100, 100)
  );
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
}


.input-group {
  margin: 15px 0; /* Ajuste a margem vertical aqui */
  color: azure;
  margin-inline: 2%;
  background: rgba(100, 87, 87, 0);
  display: flex;
  flex-direction: column; justify-content: center; align-items: start;
  border-radius: 6px;
}

.inp {
  color: rgb(231, 231, 231);
  font-size: 18px;
  background: none;
  margin: 5px 1%; /* Ajuste a margem vertical e horizontal aqui */
  border: 0;
  border-bottom: 1px black solid;
  transition: transform 0.1s;
}

button{
  cursor: pointer;
  padding: 5%; 
  font-weight: bold;
  background-color: rgba(13, 230, 60, 0.493);
  margin-inline: 1%; margin-bottom: 5%;
  border-radius: 10px;
  border: 0ch;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-top: 3px;
}

input::placeholder {
  color: rgb(156, 155, 154);
}

option {
  color: black;
}

#submit:hover {
  background: rgb(123, 209, 224);
}

.inp:hover {
  transform: scale(1.05);
}

footer a {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a img {
  width: 80%;
}

@keyframes type {
  0% {
    width: 0;
  }
}

@keyframes caret {
  50% {
    box-shadow: 0.6em 0 0 transparent;
  }
}

@media screen and (max-width: 600px) {
  .box-main {
    width: 80%;
  }
  form {
    width: 100%;
    height: 100%;
  }

  h1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-height: 1334px) {
  form {
    height: 190%;
  }

  body {
    height: 100%;
  }
}

/* Paleta de Cores Tropical */
:root {
  --color-primary: #ffcc29;
  --color-secondary: #ff6c3a;
  --color-tertiary: #00a86b;
  --color-text: #ffffff;
  --color-background: rgba(13, 13, 13, 0.8);
}

body {
  background-color: var(--color-background);
}

h1,
input,

option {
  color: var(--color-background);
}
legend{
  color: aliceblue;
  margin-top: 3%;
}



#submit:hover {
  background-color: var(--color-tertiary);
}
